JetBrains/*/tasks/
JetBrains/*/ssl
JetBrains/.config/JetBrains/PyCharm202.*/options/github-copilot.local.xml
JetBrains/.config/JetBrains/PyCharm202.*/consoles/
JetBrains/.config/JetBrains/PyCharm202.*/scratches/
JetBrains/*.config/JetBrains/PyCharm202.*/ssl/cacerts
JetBrains/*.config/JetBrains/PyCharm202.*/workspace/

vim/.vim_runtime/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
venv/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

